body{
    background-color:rgb(196, 180, 241);
    font-family: 'Lucida Sans';
    font-size: small;
    color: #fdfdfd;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    h3{
    font-family: 'Lucida Sans';
    font-size: small;
    color: #fdfdfd;
    text-align: center;
    display: inline;
    font-size: 14px;
    }
    .linha {
    font-family: 'Lucida Sans';
    font-size: small;
    font-size: 12px;
    background-color:rgb(205, 151, 230);
    }
    .lista {
    font-family: 'Lucida Sans';
    font-size: small;
    text-align: left;
    font-size: 12px;
    color:rgba(131, 92, 221, 0.658);
    }
    .itens {
    background-color: rgba(134, 123, 226, 0.767);
    }